@model SacramentMeetingPlanner.Models.SacramentMeeting

@{
    ViewData["Title"] = "Details";
}

<h3>Sacrament Meeting Details</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfMeeting)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfMeeting)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ConductLeader)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ConductLeader)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OpenHymn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpenHymn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OpenPrayer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpenPrayer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentHymn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SacramentHymn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MusicalNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MusicalNumber)
        </dd>
        @if (Model.Speakers != null)
        {
            @foreach (var item in Model.Speakers)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => item.SpeakerName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => item.SpeakerName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => item.SpeakerSubject)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => item.SpeakerSubject)
                </dd>
            }
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CloseHymn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CloseHymn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClosePrayer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClosePrayer)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SacramentMeetingId" class="btn btn-success">Edit</a> |
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
