@model IEnumerable<SacramentMeetingPlanner.Models.SacramentMeeting>

@{
    ViewData["Title"] = "Sacrament Meeting Index";
}

<h1>Sacrament Meeting Schedule</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table table-dark table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateOfMeeting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConductLeader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpenHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpenPrayer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SacramentHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MusicalNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CloseHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosePrayer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfMeeting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConductLeader)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpenHymn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpenPrayer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SacramentHymn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MusicalNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CloseHymn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosePrayer)
            </td>
            <td class="btn-toolbar">
                <a asp-action="Edit" asp-route-id="@item.SacramentMeetingId" class="btn btn-primary btn-sm m-1">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SacramentMeetingId" class="btn btn-primary btn-sm m-1">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SacramentMeetingId" class="btn btn-primary btn-sm m-1">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
